<ion-view title="{{wallet.name|capitalize}} Wallet">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        Transaction history
      </div>
      <div class="item item-text-wrap" ng-repeat="trans in transactions">
        <span ng-show="trans.minedTs">{{trans.minedTs| timeAgo}}</span>
        <span ng-hide="trans.minedTs">Unconfirmed</span>
        <span ng-show="trans.comment">{{trans.comment}}</span>
        <span class="badge badge-assertive" ng-show="trans.action == 'sent'">
          -{{trans.amountSat|displayBtc}}
        </span>
        <span class="badge badge-balanced" ng-show="trans.action == 'received'">
          {{trans.amountSat|displayBtc}}
        </span>
      </div>
      <div class="item item-text-wrap" ng-hide="transactions">
        No transactions yet
      </div>
    </div> 

  </ion-content>
</ion-view>
