<ion-view title="{{wallet.name}} Wallet">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        Transaction history
      </div>
      <div class="item item-text-wrap">
        Sep 22 - Manuel Araoz
        <span class="badge badge-assertive">0.232 BTC</span>
      </div>
      <div class="item item-text-wrap">
        Sep 20 - BitPay Inc.
        <span class="badge badge-balanced">0.300 BTC</span>
      </div>
    </div> 

  </ion-content>
</ion-view>
