<ion-view title="{{wallet.name|capitalize}} Wallet" hide-back-button="true">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card" ng-show="wallet.publicKeyRing.isComplete()">
      <div class="item item-divider">
        Balance
      </div>
      <div class="item item-text-wrap">
        <i class="icon ion-social-bitcoin"></i> 12323 bits ~= $234 USD
      </div>
    </div>

    <div class="card" ng-hide="wallet.publicKeyRing.isComplete()">
      <div class="item item-divider">
        Invite Copayers
      </div>
      <div class="item item-text-wrap center">
        <div class="button-bar">
          <button class="button button-positive icon ion-android-share"> Share</button>
          <button class="button button-positive icon ion-ios7-copy"> Copy</button>
          <button class="button button-positive icon ion-qr-scanner"> QR</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Copayers
        <span class="item-note">{{wallet.requiredCopayers}} of {{wallet.totalCopayers}}</span>
      </div>
      <div class="item item-avatar" ng-repeat="copayer in copayers">
        <img src="img/example/tully.jpg">
        <h2>{{copayer.nick}} (me)</h2>
      </div>
      <div class="item item-avatar" ng-show="remaining > 0">
        <h2><i class="icon ion-loading-c"></i> Waiting for {{remaining}} copayers to join...</h2>
      </div>
    </div>

  </ion-content>
</ion-view>
