<ion-view title="{{wallet.name}} Wallet" hide-back-button="true">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        <i class="icon ion-social-bitcoin"></i> Balance
      </div>
      <div class="item item-text-wrap">
        12323 bits ~= $234 USD
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <i class="icon ion-person"></i> Copayers
      </div>
      <div class="item item-avatar">
        <img src="img/example/tully.jpg">
        <h2>Yemel Jardi (me)</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/example/winston.jpg">
        <h2>Manuel Araoz</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/example/barrett.jpg">
        <h2>Juan Sosa</h2>
      </div>
    </div>

  </ion-content>
</ion-view>
