<ion-view title="Invoice">

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-text-wrap">
        Sender: {{invoice.sender}}
      </div>
      <div class="item item-text-wrap">
        Amount: {{invoice.fiat}} {{invoice.fiatCode}} ({{invoice.amount}} BTC)
      </div>
      <div class="item item-text-wrap">
        Reference: {{invoice.reference}}
      </div>
      <div class="item item-text-wrap">
        Created: {{invoice.created|timeAgo}}
      </div>
      <div class="item item-text-wrap">
        Paid: <span class="badge">Pending</span>
      </div>
      <div class="item item-divider">
        Actions
      </div>
      <div class="item item-text-wrap">
        <div class="button-bar">
          <button class="button button-positive icon ion-android-share"> Share</button>
          <button class="button button-positive icon ion-ios7-copy" ng-click="copyAddress()"> Copy</button>
          <button class="button button-positive icon ion-qr-scanner" ng-click="openModal()"> QR</button>
        </div>
      </div>
      <div class="item item-text-wrap" ng-show="invoice.status == 'pending'">
        <button class="button button-block button-stable icon ion-archive"> Archive</button>
      </div>
    </div> 

  </ion-content>
</ion-view>
