<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-camera" ng-click="openCamera()"></button>
    </ion-nav-buttons>

    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>


  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Wallets</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-repeat="wallet in wallets" nav-clear menu-close ui-sref="profile.wallet.home({walletId:wallet.id})" class="item-icon-right">
          {{wallet.name|capitalize}}
          <span class="item-note">{{wallet.requiredCopayers}} of {{wallet.totalCopayers}}</span>
          <i class="icon ion-chevron-right size-14"></i>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="profile.add">
          <i class="icon ion-plus"></i> New Wallet
        </ion-item>
      </ion-list>

    </ion-content>
      <div class="bar bar-footer bar-stable" nav-clear menu-close ui-sref="profile.edit">

        <div class="item-icon-left item-icon-right size-20" href="#">
          <i class="icon ion-person size-20"></i>
          <h4 class="size-18">Profile</h4>
          <i class="icon ion-chevron-right size-14"></i>
        </div>
      </div>
  </ion-side-menu>
</ion-side-menus>
