<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-tabs class="tabs-icon-top">
      <ion-tab title="Home" icon="icon ion-home" ui-sref="wallet.home">
        <ion-nav-view name="tab1"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Receive" icon="icon ion-ios7-download" ui-sref="wallet.receive">
        <ion-nav-view name="tab2"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Send" icon="icon ion-ios7-download" ui-sref="wallet.send">
        <ion-nav-view name="tab3"></ion-nav-view>
      </ion-tab>

      <ion-tab title="History" icon="icon ion-ios7-download" ui-sref="wallet.history">
        <ion-nav-view name="tab4"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Wallets</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
