<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Wallets</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="wallet.tabs.home">
          Personal
          <span class="item-note">1 of 1</span>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="wallet.tabs.home">
          BitPay BsAs
          <span class="item-note">2 of 3</span>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="wallet.tabs.home">
          Roommates
          <span class="item-note">2 of 4</span>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="wallet.add">
          <i class="icon ion-plus"></i> New Wallet
        </ion-item>
      </ion-list>

    </ion-content>
      <div class="bar bar-footer bar-stable" nav-clear menu-close ui-sref="wallet.profile">
        <div class="title">
          <i class="icon ion-person"></i> Profile
        </div>
      </div>
  </ion-side-menu>
</ion-side-menus>
