<ion-view>
  
  <div class="bar bar-header bar-stable">
    <h1 class="title">PIN</h1>
  </div>

  <ion-content class="has-header padding">
    <h3 ng-hide="confirm">Enter a 4 digit pin</h3>
    <h3 ng-show="confirm">Confirm your 4 digit pin</h3>
    <div class="row pin">
      <div class="col">&nbsp;</div>
      <div class="col box-pin">&nbsp;<i class="icon ion-record" ng-show="digits[0]|defined"></i>&nbsp;</div>
      <div class="col box-pin">&nbsp;<i class="icon ion-record" ng-show="digits[1]|defined"></i>&nbsp;</div>
      <div class="col box-pin">&nbsp;<i class="icon ion-record" ng-show="digits[2]|defined"></i>&nbsp;</div>
      <div class="col box-pin">&nbsp;<i class="icon ion-record" ng-show="digits[3]|defined"></i>&nbsp;</div>
      <div class="col">&nbsp;</div>
    </div>
    <div class="button-bar">
      <button class="button" ng-click="press(1)">1</button>
      <button class="button" ng-click="press(2)">2</button>
      <button class="button" ng-click="press(3)">3</button>
    </div>
    <div class="button-bar">
      <button class="button" ng-click="press(4)">4</button>
      <button class="button" ng-click="press(5)">5</button>
      <button class="button" ng-click="press(6)">6</button>
    </div>
    <div class="button-bar">
      <button class="button" ng-click="press(7)">7</button>
      <button class="button" ng-click="press(8)">8</button>
      <button class="button" ng-click="press(9)">9</button>
    </div>
    <div class="button-bar">
      <button class="button" ng-click="">FORGOT PIN</button>
      <button class="button" ng-click="press(0)">0</button>
      <button class="button" ng-click="">CLEAR</button>
    </div>
  </ion-content>
</ion-view>

