<ion-view title="Profile">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        Preferences
      </div>
      <form ng-submit="submit()">
        <div class="list">
          <label class="item item-input disabled">
            <span class="input-label" disabled>Email</span>
            <input type="email" ng-model="email" class="right" disabled>
          </label>
          <label class="item item-input item-select">
            <span class="input-label" disabled>Bitcoin unit</span>
            <select ng-model="unit" ng-change="updateUnit(this)">
              <option value="BTC">BTC</option>
              <option value="bits">bits (1,000,000 bits = 1 BTC)</option>
              <option value="mBTC">mBTC (1,000 bits = 1 BTC)</option>
              <option value="Satoshis">Satoshis (100,000,000 bits = 1 BTC)</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <span class="input-label" disabled>Alternative currency</span>
            <select ng-model="fiat" ng-change="updateFiat(this)">
              <option value="USD">US Dollar</option>
              <option value="EUR">Eurozone Euro</option>
              <option value="GBP">Pound Sterling</option>
              <option value="JPY">Japanese Yen</option>
              <option value="JPY">Canadian Dollar</option>
              <option value="AUD">Australian Dollar</option>
              <option value="BRL">Brasilian Real</option>
              <option value="ARS">Argentine Peso</option>
              <option value="MXN">Mexican Peso</option>
            </select>
          </label>
        </div>
      </form>
    </div>

    <div class="card">
      <div class="item item-divider">
        Backup profile
      </div>
      <div class="item item">
        <button class="button button-block button-positive" ng-click="backup()"> Email Backup</button>
      </div>
    </div>

  </ion-content>
</ion-view>
