<ion-view title="Spending Proposal">

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-text-wrap">
        Status: <span class="badge" ng-class="{
          'badge-balanced': proposal.status == 'approved',
          'badge-assertive': proposal.status == 'rejected',
          'badge-energized': proposal.status == 'pending'
        }">{{proposal.status|capitalize}}</span>
      </div>
      <div class="item item-text-wrap">
        Address: {{proposal.outputs[0].address| characters:15}}
      </div>
      <div class="item item-text-wrap">
        Amount: {{proposal.total|displayBtc}} ({{proposal.total|displayFiat}})
      </div>
      <div class="item item-text-wrap">
        Fee: {{proposal.fee|displayBtc}}
      </div>
      <div class="item item-text-wrap">
        Reference: {{proposal.comment}}
      </div>
      <div class="item item-text-wrap">
        Created: {{proposal.createdTs|timeAgo}}
      </div>
      <div class="item item-divider">
        Copayers
        <span class="item-note" ng-show="proposal.isPending">
          <ng-pluralize count="proposal.missingSignatures"
          when="{'0': '',
              'one': '1 signature missing',
              'other': '{} signatures missing'}">
          </ng-pluralize>
        </span>
      </div>
      <div class="item item-avatar" ng-repeat="copayer in proposal.signers">
        <img src="img/satoshi.gif">
        <h3>{{copayer|displayNick:wallet}}</h3>
        <span class="badge badge-balanced">Approved</span>
      </div>
      <div class="item item-avatar" ng-repeat="copayer in proposal.rejecters">
        <img src="img/satoshi.gif">
        <h3>{{copayer|displayNick:wallet}}</h3>
        <span class="badge badge-assertive">Rejected</span>
      </div>
      <div class="item item-divider" ng-show="proposal.awaitingAction">
        Actions
      </div>
      <div class="item item-text-wrap" ng-show="proposal.awaitingAction">
        <div class="button-bar">
          <button class="button button-positive icon ion-checkmark" ng-click="sign()"> Approve</button>
          <button class="button button-assertive icon ion-close" ng-click="reject()"> Reject</button>
        </div>
      </div>
    </div> 

  </ion-content>
</ion-view>
