<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{modal.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding center">
    <qrcode
      version="7"
      error-correction-level="M"
      size="400" class="full"
      data="{{modal.qrData}}">
    </qrcode>
    <button class="button button-block button-positive icon ion-android-share" ng-click="shareData()"> Share</button>
    <button class="button button-block button-positive icon ion-ios7-copy" ng-click="copyData()"> Copy</button>
  </ion-content>
</ion-modal-view>