<ion-view title="{{wallet.name|capitalize}} Wallet">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">

    <button
      class="button button-block button-positive icon ion-plus"
      ng-click="openModal('bitcoin://1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v')">
      New Address
    </button>

    <div class="card">
      <div class="item item-divider">
        Addresses
      </div>
      <div
        class="item item-text-wrap"
        ng-repeat="address in addresses"
        ng-click="openModal('bitcoin://' + address)">
        {{address| characters:10}}
        <span class="badge">$123.23 USD</span>
      </div>
    </div> 
    

  </ion-content>
</ion-view>
