<ion-view title="New Profile">
  
  <ion-nav-buttons side="right">
    <a class="button button-clear" ui-sref="start.settings">Settings</a>
  </ion-nav-buttons>

  <ion-content>
    <form ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Full name</span>
          <input type="text" ng-model="loginData.fullName">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repeat password</span>
          <input type="password" ng-model="loginData.confirmPassword">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>