<ion-view title="{{wallet.name|capitalize}} Wallet" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        {{needsApproval ? 'New proposal' : 'Send'}}
        <span class="item-note" ng-class="{error: data.amount && !enough}" >{{wallet.availableBalance|displayBtc}} | {{wallet.availableBalance|displayFiat}}</span>
      </div>

      <form name="form" ng-submit="submit(form, data)" class="error-icons" novalidate>
        <label class="item item-input disabled domain" ng-show="data.domain" ng-class="{trusted: data.trusted}">
          <input
            type="text" ng-model="data.domain" disabled="disabled" required>
          <i class="icon ion-locked success" ng-show="data.trusted"></i>
          <i class="icon ion-unlocked success" ng-hide="data.trusted"></i>
        </label>
        <label class="item item-input" ng-class="{disabled: lock.address}" ng-hide="data.domain">
          <input
            type="text" ng-model="data.address" ng-disabled="lock.address"
            placeholder="Bitcoin address" valid-address="wallet" required>
          <i class="icon ion-alert-circled error"></i>
        </label>
        <button type="button" class="button aside" ng-click="toggleUnit(data.amount)" ng-disabled="lock.amount">
          {{primaryCode}}
        </button>
        <label class="item item-input" ng-class="{disabled: lock.amount}">
          <input
            type="number" ng-model="data.amount" enough-balance="wallet" ng-disabled="lock.amount"
            placeholder="Amount in {{primaryCode}}" ng-change="convert(data.amount)"
            min="0.00000001" max="10000000000" required>
          <i class="icon ion-alert-circled error"></i>
        </label>
        <label class="item item-input disabled">
          <input
            class="amount"
            type="text" value="{{secondaryAmount}}"
            placeholder="Amount in {{secondaryCode}}"
            disabled="disabled">
        </label>
        <label class="item item-input" ng-class="{disabled: lock.reference}">
          <textarea type="text" ng-model="data.reference" placeholder="Reference" ng-disabled="lock.reference"></textarea>
        </label>
        <label class="item">
          <button
            type="submit"
            class="button button-block button-positive"
            ng-disabled="!form.$valid">
            {{needsApproval ? 'Create proposal' : 'Send'}}
          </button>
        </label>
        <label class="item" ng-show="lock">
          <button
            type="button"
            class="button button-block button-assertive"
            ng-click="cancel()">
            Cancel
          </button>
        </label>
      </form>
    </div>

    <div class="card" ng-show="wallet.isShared() && proposals">
      <div class="item item-divider">
        Go Proposal
      </div>
      <div class="item item-text-wrap" ng-repeat="proposal in proposals" ui-sref="profile.wallet.proposal({proposalId:proposal.id})">
        {{proposal.total|displayBtc}} ~= {{proposal.total|displayFiat }}
        <span class="comment" ng-show="proposal.comment"/>{{proposal.comment}}</span>
        <span class="badge badge-energized" ng-show="proposal.awaitingAction">
          <i class="icon ion-alert"></i>
        </span>
      </div>
    </div> 
    

  </ion-content>
</ion-view>
