<ion-view title="{{wallet.name|capitalize}} Wallet">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        {{wallet.isShared() ? 'New proposal' : 'Send'}}
      </div>

      <form name="form" ng-submit="newProposal(form)" class="error-icons" novalidate>
          <label class="item item-input">
            <input
              type="text" ng-model="form.address"
              placeholder="Bitcoin address" valid-address required>
            <i class="icon ion-alert-circled error"></i>
          </label>
          <button class="button aside" ng-click="toggleUnit()">{{unitCode}}</button>
          <label class="item item-input">
            <input
              type="number" ng-model="form.amount"
              placeholder="Amount in {{unitCode}}" ng-change="convert(form.amount)"
              min="0.00000001" max="10000000000" required>
            <i class="icon ion-alert-circled error"></i>
          </label>
          <label class="item item-input">
            <input
              type="text" value="{{altAmount}}"
              placeholder="Amount in {{altCode}}"
              disabled="disabled">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="form.reference" placeholder="Reference">
          </label>
          <label class="item">
            <button
              type="submit"
              class="button button-block button-positive"
              ng-disabled="!form.$valid">
              {{wallet.isShared() ? 'Create proposal' : 'Send'}}
            </button>
        </div>
      </form>
    </div>

    <div class="card" ng-show="wallet.isShared() && proposals">
      <div class="item item-divider">
        Spending proposals
      </div>
      <div class="item item-text-wrap" ng-repeat="proposal in proposals" ui-sref="profile.wallet.proposal({proposalId:proposal.id})">
        {{proposal.receiver}} - {{proposal.reference}}
        <span class="badge">{{proposal.fiat}} {{proposal.fiatCode}}</span>
      </div>
    </div> 
    

  </ion-content>
</ion-view>
