<div class="card">
      <div class="item item-divider">
        {{needsApproval ? 'New proposal' : 'Send'}}
        <span class="item-note" ng-class="{error: data.amount && !enough}" >
          {{data.wallet.availableBalance|displayBtc}} | {{data.wallet.availableBalance|displayFiat}}
        </span>
      </div>

      <countdown-bar start="data.created" end="data.expires" finish="onExpired()"></countdown-bar>

      <form name="form" ng-submit="submit(form, data)" class="error-icons" novalidate>
        <label class="item item-input item-select" ng-show="walletList">
          <span class="input-label">Wallet</span>
          <select
            ng-options="wallet as wallet.name for wallet in walletList"
            ng-model="data.wallet"
            ng-change="changeWallet()">
          </select>
        </label>
        <label class="item item-input disabled domain" ng-show="data.domain" ng-class="{trusted: data.trusted}">
          <input
            type="text" ng-model="data.domain" disabled="disabled" ng-required="!data.address">
          <i class="icon ion-locked success" ng-show="data.trusted"></i>
          <i class="icon ion-unlocked success" ng-hide="data.trusted"></i>
        </label>
        <label class="item item-input" ng-class="{disabled: lock.address}" ng-hide="data.domain">
          <input
            type="text" ng-model="data.address" ng-disabled="lock.address"
            placeholder="Bitcoin address" valid-address="data.wallet"  ng-required="!data.domain">
          <i class="icon ion-alert-circled error"></i>
        </label>
        <button type="button" class="button aside" ng-click="toggleUnit(data.amount)" ng-disabled="lock.amount">
          {{primaryCode}}
        </button>
        <label class="item item-input" ng-class="{disabled: lock.amount}">
          <input
            type="number" ng-model="data.amount" enough-balance="data.wallet" ng-disabled="lock.amount"
            placeholder="Amount in {{primaryCode}}" ng-change="convert(data.amount)"
            min="0.00000001" max="10000000000" required>
          <i class="icon ion-alert-circled error"></i>
        </label>
        <label class="item item-input disabled">
          <input
            class="amount"
            type="text" value="{{secondaryAmount}}"
            placeholder="Amount in {{secondaryCode}}"
            disabled="disabled">
        </label>
        <label class="item item-input" ng-class="{disabled: lock.reference}">
          <textarea type="text" ng-model="data.reference" placeholder="Reference" ng-disabled="lock.reference"></textarea>
        </label>
        <label class="item">
          <button
            type="submit"
            class="button button-block button-positive"
            ng-disabled="(!form.$valid) || (data.isExpired)">
            {{needsApproval ? 'Create proposal' : 'Send'}}
          </button>
        </label>
        <label class="item" ng-show="lock">
          <button
            type="button"
            class="button button-block button-assertive"
            ng-click="cancel()">
            Cancel
          </button>
        </label>
      </form>
    </div>
