<ion-view title="{{wallet.name|capitalize}} Wallet" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

     <div ng-include="'templates/send-form.html'"></div>

    <div class="card" ng-show="wallet.isShared() && proposals">
      <div class="item item-divider">
        Go Proposal
      </div>
      <div class="item item-text-wrap" ng-repeat="proposal in proposals" ui-sref="profile.wallet.proposal({proposalId:proposal.id})">
        {{proposal.total|displayBtc}} ~= {{proposal.total|displayFiat }}
        <span class="comment" ng-show="proposal.comment"/>{{proposal.comment}}</span>
        <span class="badge badge-energized" ng-show="proposal.awaitingAction">
          <i class="icon ion-alert"></i>
        </span>
      </div>
    </div> 

  </ion-content>
</ion-view>
