<ion-view title="Settings">

   <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Server</span>
          <input type="text" ng-model="settingsData.insight" placeholder="https://insight.bitpay.com:433">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

