<ion-view title="Sweep Key">

  <ion-content class="has-header">

    <div class="card">
      <div class="item item-divider">
        Import Bitcoins
      </div>

      <form name="form" ng-submit="submit(form, data)" novalidate>
        <label class="item item-input disabled">
          <span class="input-label" disabled>Balance</span>
          <input type="text" value="{{data.balance|displayBtc}}" class="right" disabled>
        </label>
        <label class="item item-input disabled">
          <span class="input-label" disabled>Import fee</span>
          <input type="text" value="{{data.estimatedFee|displayBtc}}" class="right" disabled>
        </label>
        <label class="item item-input item-select">
          <span class="input-label" disabled>Wallet</span>
          <select
            ng-options="wallet as wallet.name for wallet in walletList"
            ng-model="data.wallet">
          </select>
        </label>
        <label class="item">
          <button
            type="submit"
            class="button button-block button-positive"
            ng-disabled="!data.balance">
            Import
          </button>
        </label>
        <label class="item" ng-show="lock">
          <button
            type="button"
            class="button button-block button-assertive"
            ng-click="cancel()">
            Cancel
          </button>
        </label>
      </form>
    </div>


  </ion-content>
</ion-view>
