<ion-tabs class="tabs-icon-top">
  <ion-tab title="Home" icon="icon ion-home" ui-sref="profile.wallet.home">
    <ion-nav-view name="tab1"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Receive" icon="icon ion-ios7-download" ui-sref="profile.wallet.receive" badge="pendingInvoices()">
    <ion-nav-view name="tab2"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Send" icon="icon ion-ios7-upload" ui-sref="profile.wallet.send" badge="pendingProposals()">
    <ion-nav-view name="tab3"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon="icon ion-ios7-paper" ui-sref="profile.wallet.history">
    <ion-nav-view name="tab4"></ion-nav-view>
  </ion-tab>
</ion-tabs>