<ion-tabs class="tabs-icon-top tabs-striped tabs-background-positive tabs-light">
  <ion-tab title="Home" icon="icon ion-home" ui-sref="profile.wallet.home">
    <ion-nav-view name="tab1">Home</ion-nav-view>
  </ion-tab>

  <ion-tab title="Receive" ng-if="wallet.publicKeyRing.isComplete()" icon="icon ion-ios7-download" ui-sref="profile.wallet.receive">
    <ion-nav-view name="tab2">Receive</ion-nav-view>
  </ion-tab>

  <ion-tab title="Send" ng-if="wallet.publicKeyRing.isComplete()" icon="icon ion-ios7-upload" ui-sref="profile.wallet.send" badge="pendingProposals()" badge-style="badge-balanced">
    <ion-nav-view name="tab3">Send</ion-nav-view>
  </ion-tab>

  <ion-tab title="History" ng-if="wallet.publicKeyRing.isComplete()" icon="icon ion-ios7-paper" ui-sref="profile.wallet.history">
    <ion-nav-view name="tab4">History</ion-nav-view>
  </ion-tab>
</ion-tabs>