/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


// Custom

form .errors {
  background-color: #FFDEDE;
}

form i.icon.error {
  color: $assertive;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.error-icons input.ng-invalid + i.icon.error {
  display: block;
}

form.error-icons input.ng-pristine + i.icon.error {
  display: none;
}

form.error-icons input.ng-valid + i.icon.error {
  display: none;
}

form .has-error {
  border-left: 5px solid darken($assertive, 15%);
}

form .has-success {
  border-left: 5px solid darken($energized, 15%);
}
