<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.bitpay.copay" version="0.7.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode="17">
  <name>Copay</name>
  <description>
        A secure bitcoin wallet for friends and companies.
    </description>
  <author email="support@bitpay.com" href="https://copay.io/">
        Bitpay Inc.
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="copayscreen" />
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="StatusBarStyle" value="lightcontent" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>