/* Empty. Add your own CSS if you like */

.pin .col {
  text-align: center;
  font-size: 20px;
}

.icon.big {
  font-size: 19px;
}

.center {
  text-align: center;
}

.button.aside {
  float: right;
  min-height: 46px;
  border: 0px;
  border-right: solid 1px #ddd;
  min-width: 90px;
}